<%- include('header') %>

<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">User Password Information</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Update Password</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form class="form-horizontal" action="/passwordChange" method="post">
            <div class="card-body">
              <h4 class="card-title">Update User Password</h4>

              <div class="form-group row">
                <label for="oldPassword" class="col-sm-3 text-right control-label col-form-label">Old Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="oldPassword" placeholder="Enter Old Password" name="oldPassword">
                </div>
              </div>

              <div class="form-group row">
                <label for="newPassword" class="col-sm-3 text-right control-label col-form-label">New Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password" name="newPassword">
                </div>
              </div>

              <div class="form-group row">
                <label for="conformPassword" class="col-sm-3 text-right control-label col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="conformPassword" placeholder="Enter Confirm Password" name="conformPassword">
                </div>
              </div>

            </div>
            <div class="border-top">
              <div class="card-body">
                <button type="submit" class="btn btn-primary">Update Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
